/* --------------------------- */
/* Fonts */
/* --------------------------- */

@mixin font($family, $file, $weight, $style: normal) {
  @font-face {
    font-family: '#{$family}';
    src: url('/fonts/#{$file}.woff2') format('woff2'),
      url('/fonts/#{$file}.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    font-stretch: normal;
  }
}

// Primary body font
@include font('Mundial', 'Mundial-Regular', 400);
@include font('Mundial', 'Mundial-Regular-Italic', 400, italic);
@include font('Mundial', 'Mundial-DemiBold', 500);
@include font('Mundial', 'Mundial-Bold', 600);
@include font('Mundial', 'Mundial-Black', 700);

// Secondary monospace code font
@include font('Source Code Pro', 'SourceCodePro-Regular', 400);
@include font('Source Code Pro', 'SourceCodePro-SemiBold', 500);
