/* --------------------------- */
/* Layout */
/* --------------------------- */

@use 'app';

:root {
  --content-width: 1400px;
  --content-padding: 50px;
  --section-padding: 100px;

  // Grid
  --max-grid-cols: #{app.$maxGridCols};
  --grid-cols: #{app.$maxGridCols};
  --grid-offset: #{app.$maxGridOffset};
  --grid-width-offset: calc((var(--content-padding) * 2) - (var(--grid-offset) * 2));
  --grid-max-width: calc(var(--content-width) - var(--grid-width-offset));
  --grid-width: min(calc(100vw - var(--grid-width-offset)), var(--grid-max-width));
  --grid-col-width: calc(var(--grid-width) / var(--grid-cols));
  --grid-dot-size: 7px;
  --grid-dot-color: var(--grid-line-color);
  --grid-dot-outline-color: var(--page-background-color);
  --grid-dot-outline-size: 4px;
}

@media (width <= app.bp(xl)) {
  :root {
    --content-padding: 40px;
  }
}
