/* --------------------------- */
/* Code Syntax Highlighting */
/* --------------------------- */

/* --------------------------- */
/* HTML */

.code-html {
  color: #a6accd;

  .tag {
    color: #f07178;
  }

  .bracket,
  .tag .punctuation {
    color: #89ddff;
  }

  .attr-name {
    color: #c792ea;
  }

  .attr-value {
    color: #c3e88d;
  }
}

/* --------------------------- */
/* SCSS */

.code-scss {
  color: #f78c6c;

  .selector {
    color: #f07178;

    .prefix {
      color: #89ddff;

      + .selector-name {
        color: #ffcb6b;
      }
    }
  }

  .property {
    color: #b2ccd6;
  }

  .bracket {
    color: #ffd700;
  }

  .punctuation {
    color: #89ddff;
  }

  .function {
    color: #82aaff;
  }

  .parentheses {
    color: #da70d6;
  }
}

/* --------------------------- */
/* JavaScript */

.code-javascript {
  color: #9fb4cf;

  .operator,
  .keyword {
    color: #c791ea;
  }

  .this {
    color: #ff5270;
  }

  .class-name {
    color: #ffcb6b;
  }

  .semicolon {
    color: #89ddff;
  }
}
