/* --------------------------- */
/* Code Syntax Highlighting */
/* --------------------------- */

/* --------------------------- */
/* HTML */

.code-html {
  color: #a6accd;

  .tag {
    color: #f07178;
  }

  .bracket,
  .tag .punctuation {
    color: #89ddff;
  }

  .attr-name {
    color: #c792ea;
  }

  .attr-value {
    color: #c3e88d;
  }
}

/* --------------------------- */
/* SCSS */

.code-scss {
  color: #f78c6c;

  .selector {
    color: #f07178;

    .prefix {
      color: #89ddff;

      + .selector-name {
        color: #ffcb6b;
      }
    }
  }

  .property {
    color: #b2ccd6;
  }

  .bracket {
    color: #ffd700;
  }

  .punctuation {
    color: #89ddff;
  }

  .function {
    color: #82aaff;
  }

  .parentheses {
    color: #da70d6;
  }
}

/* --------------------------- */
/* JavaScript & TypeScript */

.code-javascript {
  color: #9fb4cf;
}

.code-typescript {
  color: #a6accd;
}

.code-javascript,
.code-typescript {
  .operator,
  .keyword {
    color: #c791ea;
  }

  .import {
    color: #89ddff;

    + .operator {
      color: #f78c6c;
    }
  }

  .star {
    color: #f78c6c;
    display: inline-block;
    position: relative;
    top: 0.05em;
    font-feature-settings: normal;
    font-weight: 600;
  }

  .this {
    color: #ff5270;
  }

  .string {
    color: #c3e88d;
  }

  .function {
    color: #82aaff;
  }

  .class-name {
    color: #ffcb6b;
  }

  .parentheses {
    color: #179fff;
  }

  .semicolon {
    color: #89ddff;
  }
}
