/* --------------------------- */
/* Global */
/* --------------------------- */

@use 'sass:meta';
@use 'app';
@use 'abstracts/colors';
@use 'abstracts/variables';
@use 'syntax-highlighting';

/* --------------------------- */
/* CSS Properties */

:root {
  @include app.css-properties(module-variables(variables));
  @include app.css-properties(module-variables(colors), '-color');
}

/* --------------------------- */
/* Shared Styles */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-feature-settings: 'ss01', 'calt';
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: var(--font);
  background-color: var(--page-background-color);
  color: #cacadb;
}

h1,
h2,
h3,
p {
  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3 {
  line-height: 1.2;
  color: #fff;
  margin-bottom: 0.9em;
}

h1 {
  font-size: 69px;
  font-weight: 800;
}

h2 {
  font-size: 44px;
  font-weight: 600;
}

p {
  line-height: 1.6;
  margin-bottom: 1em;
}

@include app.highlight {
  background-color: var(--highlight-dark-color);
  color: #fff;
}

:global {
  #footer {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.03em;
    background-color: var(--page-background-color);
    color: #fff;
  }
}

#icon-sprites {
  display: none;
}
