/* --------------------------- */
/* Code Viewer */
/* --------------------------- */

@import '@styles/colors';
@import '@styles/mixins';

.wrapper {
  max-height: 255px;
  overflow-y: auto;
  padding: 20px;
  font-size: 15px;
  line-height: 1.3;
  color: #000;
  border-bottom: 1px solid #dedede;

  &:last-child {
    border-bottom: 0;
  }
}

:global {
  .line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: lineNumber;

    > code {
      position: relative;
    }

    .line-numbers-rows {
      @include noSelect;
      position: absolute;
      pointer-events: none;
      top: 0;
      left: -3.8em;
      width: 3em;
      border-right: 1px solid #d9dee4;
      font-weight: 500;

      > span {
        pointer-events: none;
        display: block;
        counter-increment: lineNumber;

        &:before {
          content: counter(lineNumber);
          color: #8792a0;
          display: block;
          padding-right: 0.7em;
          text-align: right;
        }
      }
    }
  }
}
