{
  "extends": [
    "plugin:import/recommended",
    "eslint:recommended",
    "next/core-web-vitals"
  ],
  "plugins": ["import", "@typescript-eslint"],
  "rules": {
    "import/no-named-as-default": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "no-unused-vars": "off",
    "no-unexpected-multiline": "off",
    "no-async-promise-executor": "off",
    "no-useless-escape": "off",
    "import/order": [
      1,
      {
        "pathGroups": [
          {
            "pattern": "react",
            "group": "index",
            "position": "before"
          },
          {
            "pattern": "react-dom",
            "group": "index",
            "position": "before"
          },
          {
            "pattern": "react",
            "group": "type",
            "position": "after"
          },
          {
            "pattern": "react-dom",
            "group": "type",
            "position": "after"
          },
          {
            "pattern": "./*.scss",
            "group": "sibling",
            "position": "before"
          },
          {
            "pattern": "./**",
            "group": "sibling",
            "position": "before"
          },
          {
            "pattern": "@global",
            "group": "object",
            "position": "after"
          },
          {
            "pattern": "@global/**",
            "group": "object",
            "position": "after"
          },
          { "pattern": "@**", "group": "parent", "position": "after" }
        ],
        "groups": [
          "index",
          ["sibling", "parent", "internal"],
          "external",
          "builtin",
          "object",
          "type"
        ],
        "pathGroupsExcludedImportTypes": ["type", "@global**"]
      }
    ]
  },
  "overrides": [
    {
      // Override recommended rules based on
      // what is already handled by TypeScript
      "files": ["*.ts", "*.tsx", "*.mts", "*.cts"],
      "rules": {
        "constructor-super": "off",
        "getter-return": "off",
        "no-const-assign": "off",
        "no-dupe-args": "off",
        "no-dupe-class-members": "off",
        "no-dupe-keys": "off",
        "no-func-assign": "off",
        "no-import-assign": "off",
        "no-new-symbol": "off",
        "no-obj-calls": "off",
        "no-redeclare": "off",
        "no-setter-return": "off",
        "no-this-before-super": "off",
        "no-undef": "off",
        "no-unreachable": "off",
        "no-unsafe-negation": "off",
        "no-var": "error",
        "prefer-const": "error",
        "prefer-rest-params": "error",
        "prefer-spread": "error"
      }
    }
  ]
}
