/* --------------------------- */
/* Breakpoints */
/* --------------------------- */

@use 'sass:map';

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$breakpoints: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
  xxl: $breakpoint-xxl
);

@function bp($size) {
  @if map.has-key($breakpoints, $size) {
    @return map.get($breakpoints, $size);
  }

  @return $size;
}
