/* --------------------------- */
/* Variables */
/* --------------------------- */

@use 'colors';

$font: 'brother-1816', sans-serif;
$font-code: 'source-code-pro', monospace;
$content-width: 1460px;
$content-padding: 50px;
