/* --------------------------- */
/* Variables */
/* --------------------------- */

// Fonts
$font: 'brother-1816', sans-serif;
$fontCode: 'source-code-pro', monospace;

// Grid
$maxGridCols: 14;

// Font sizes
$h1Size: 69px;
$h2Size: 37px;
$h3Size: 24px;
$h4Size: 18px;
