/* --------------------------- */
/* Variables */
/* --------------------------- */

$font: 'brother-1816', sans-serif;
$fontCode: 'source-code-pro', monospace;
$gridNumColumns: 12;
$gridOffset: 20px;
