/* --------------------------- */
/* Highlights */
/* --------------------------- */

.headline {
  max-width: 1030px;
}

.itemsWrapper {
  margin-top: 100px;
}

.item {
  position: relative;
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;

  &:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 1px;
    height: 20px;
    background-color: var(--yellow-accent-color);
  }

  h3 {
    font-size: 20px;
    color: var(--yellow-accent-color);
    font-weight: 400;
    margin-bottom: 0.6em;
  }

  p {
    font-size: 14px;
  }
}
