/* --------------------------- */
/* Hero */
/* --------------------------- */

.wrapper {
  --section-top-padding: 10px;
  --section-bottom-padding: 0;
}

.top {
  display: flex;
  align-items: flex-start;
}

.content {
  flex-grow: 1;
  padding-top: 70px;
}
