/* --------------------------- */
/* Hero */
/* --------------------------- */

.wrapper {
  padding-bottom: 0 !important;
}

.top {
  display: flex;
  align-items: flex-start;
}

.content {
  // padding-right: 80px;
  flex-grow: 1;
}
