/* --------------------------- */
/* Tetris Header */
/* --------------------------- */

@use 'app';

.wrapper {
  padding: 40px;
  font-size: var(--h2-size);

  &.hidden {
    visibility: hidden;
  }
}

.eyebrow {
  font-size: max(0.5em, 18px);
  margin-bottom: 0;
  color: var(--green-accent-color);
}

.content {
  --text-spacing: 25px;

  display: inline-block;
  margin-top: -5px;
  color: #fff;
  font-weight: 500;
  font-size: inherit;
  line-height: 1.2;
}

.text {
  display: inline-block;
  margin-top: var(--text-spacing);
  margin-right: 10px;
}

.previewWrapper {
  --size: 12px;
  --offset: 2px;

  position: relative;
  display: inline-block;
  // margin: var(--text-spacing) 8px 0 0;
  line-height: 1;
  padding-left: calc(
    (var(--size) + var(--offset)) * var(--cols, 3) - var(--offset)
  );

  &.linePiece {
    --size: 11px;
  }
}

.label {
  margin-left: 19px;
  position: relative;

  &:after {
    --cursor-width: 2px;

    content: '';
    line-height: 0;
    height: 0.85em;
    width: var(--cursor-width);
    margin: 0 calc(var(--cursor-width) * -1 + 2px) 0 2px;
    display: inline-block;
    vertical-align: bottom;
    background: currentColor;
    position: relative;
    top: -2px;
    animation: blink 0.75s step-end infinite;

    @at-root .typing & {
      animation: none !important;
    }

    @at-root :global(.game-paused) & {
      visibility: hidden;
    }

    @at-root .hideCursor & {
      display: none;
    }

    @include app.retina {
      --cursor-width: 1.5px;
    }
  }

  &.empty {
    &:after {
      left: 5px;
    }
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

.boundingBox {
  inset: 3px -8px -1px -7px;

  @at-root .empty & {
    right: -20px;
  }
}

.piece {
  display: inline-flex;
  flex-direction: column;
  flex: none;
  position: absolute;
  top: 50%;
  margin-top: 2px;
  left: 0;
  transform: translateY(-50%);

  @at-root .linePiece & {
    margin-top: 1px;
  }
}

.blockRow {
  margin-bottom: var(--offset);
  display: inline-flex;

  &:last-child {
    margin-bottom: 0;
  }
}

.block {
  width: var(--size);
  height: var(--size);
  border-radius: 2px;
  margin-right: var(--offset);

  &:last-child {
    margin-right: 0;
  }

  &.filled {
    background-color: currentColor;
  }
}

// .divider {
//   &:first-child {
//     margin-bottom: var(--tetris-header-padding);
//   }

//   &:last-child {
//     margin-top: calc(var(--tetris-header-padding) - 5px);
//   }
// }
