/* --------------------------- */
/* Header */
/* --------------------------- */

.header {
  font-family: var(--font-code);
  display: flex;
  align-items: center;
  padding-top: 80px;
  margin-bottom: 40px;
}

.logo {
  margin-right: 25px;
  width: 52px;
  height: 52px;
}

.itemsWrapper,
.items,
.items li {
  min-height: 1.5em;
  min-width: 1em;
}

.itemsWrapper {
  position: relative;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;

  .box {
    left: -9px;
    top: -6px;
    bottom: -5px;
    right: -7px;
    min-width: 1.4em;
    transition-delay: 0s !important;

    &.hidden {
      opacity: 0 !important;
    }
  }
}

.items {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: inherit;
  letter-spacing: 0.15em;

  li {
    margin-left: 25px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    position: relative;

    &:before {
      content: '/';
      margin-right: 23px;
      display: inline-block;
      font-family: var(--font);
      font-size: 1.05em;
      font-weight: 500;
      transform: translate(-20px, 40px);
      opacity: 0;
      animation: separatorIn 0.5s cubic-bezier(0.12, 0.84, 0.19, 1) forwards
        0.1s;

      @keyframes separatorIn {
        to {
          transform: translate(0, 0);
          opacity: 0.3;
        }
      }
    }

    &:first-child {
      margin-left: 0;

      &:before {
        display: none;
      }
    }

    &:not(:first-child) {
      .box {
        left: 25px;
      }
    }

    &:last-child {
      .box {
        transition-delay: 0.4s !important;
      }
    }
  }
}
