/* --------------------------- */
/* Experience */
/* --------------------------- */

.wrapper {
  --clip-offset: 100px;

  position: static;
  overflow: hidden;
  width: 100%;
  margin-top: -80px;
  padding-bottom: 100px !important;
  margin-bottom: -100px;
}

.contentWrapper {
  background-color: var(--page-background-dark-color);
  padding: 0;
  $offset: var(--clip-offset);
  clip-path: polygon(0 $offset, 100% 0, 100% calc(100% - #{$offset}), 0 100%);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.content {
  display: flex;
}

.text {
  flex-grow: 1;
  padding: 220px 60px 160px 0;

  p {
    max-width: 580px;
  }
}
