/* --------------------------- */
/* Experience */
/* --------------------------- */

.wrapper {
  background-color: #161929;
  overflow: hidden;
  z-index: 10;
  padding: 0;
  $offset: 100px;
  clip-path: polygon(0 $offset, 100% 0, 100% calc(100% - #{$offset}), 0 100%);
  margin-bottom: 800px;
}

.content {
  display: flex;
}

.text {
  flex-grow: 1;
  padding-top: 220px;
  padding-bottom: 160px;

  p {
    max-width: 580px;
  }
}
