/* --------------------------- */
/* Tetris */
/* --------------------------- */

@use 'app';

.wrapper {
  --game-rows: 10;
  --game-cols: 10;
  --block-border-radius: 6.5px;
  --blocks-per-col: 2;
  --block-offset: 5.6px;
  --block-stroke-width: 2.2px;
  --block-size: calc(var(--grid-col-width) / var(--blocks-per-col));
  --game-width: #{app.grid-cols(var(--game-cols))};
  --game-height: calc(var(--block-size) * var(--game-rows));
  --border-color: #454d69;
  --dark-blue-color: #101423;
  --border-width: 2px;
  --game-color: var(--dark-blue-color);
  --sidebar-color: #181c31;

  padding-bottom: 0;
}

.contentWrapper {
  width: calc(100% + var(--grid-offset) * 2);
  margin-left: calc(var(--grid-offset) * -1);
}

.box {
  position: relative;
}

.border {
  position: absolute;
  inset: 0 calc(0.5px + (var(--border-width) / -2));
  pointer-events: none;
  border: 0px solid var(--border-color);

  &:global(.top) {
    border-top-width: var(--border-width);
  }

  &:global(.right) {
    border-right-width: var(--border-width);
  }

  &:global(.bottom) {
    border-bottom-width: var(--border-width);
  }

  &:global(.left) {
    border-left-width: var(--border-width);
  }
}

.dot {
  --dot-color: var(--border-color);

  position: absolute !important;
  transform: translate(var(--offsetX), var(--offsetY));

  @mixin get-offset($x, $y, $offsetX: 50%, $offsetY: 50%) {
    --offsetX: calc(var(--border-width) / 2 #{$x} #{$offsetX});
    --offsetY: calc(var(--border-width) / 2 #{$y} #{$offsetY});
  }

  @mixin parent($selector) {
    @at-root #{$selector} > .border & {
      @content;
    }
  }

  &:global(.top-left) {
    @include get-offset('-', '-');

    top: 0;
    left: 0;
  }

  &:global(.top-right) {
    @include get-offset('+', '-');

    top: 0;
    right: 0;

    @at-root :global(.border.top) & {
      top: calc(var(--border-width) * -1);
    }

    @at-root .header & {
      --outline-bottom-right-color: var(--sidebar-color);
    }

    @at-root .top > .border & {
      --outline-bottom-left-color: var(--sidebar-color);
    }
  }

  &:global(.bottom-right) {
    @include get-offset('+', '+');

    bottom: calc(var(--border-width) / 2);
    right: 0;

    @at-root .header & {
      --outline-top-right-color: var(--sidebar-color);
      --outline-bottom-right-color: var(--sidebar-color);
      --outline-bottom-left-color: var(--game-color);

      bottom: 0;
    }

    @at-root .sidebar & {
      --outline-top-left-color: var(--sidebar-color);
      --outline-bottom-right-color: var(--page-background-dark-color);
      --outline-bottom-left-color: var(--page-background-dark-color);
    }
  }

  &:global(.bottom-left) {
    @include get-offset('-', '+');

    bottom: calc(var(--border-width) / 2);
    left: 0;

    @at-root .header & {
      --outline-bottom-right-color: var(--game-color);

      bottom: 0;
    }

    @at-root .content > .border & {
      --offsetX: -50%;
      --outline-top-right-color: var(--game-color);
      --outline-bottom-right-color: var(--page-background-dark-color);
      --outline-bottom-left-color: var(--page-background-dark-color);

      left: calc(var(--border-width) / -2);
    }

    @at-root .sidebar & {
      --outline-top-right-color: var(--sidebar-color);
      --outline-top-left-color: var(--game-color);
      --outline-bottom-right-color: var(--page-background-dark-color);
      --outline-bottom-left-color: var(--page-background-dark-color);

      left: calc(var(--border-width) / -2);
    }
  }
}

.top,
.content {
  display: flex;
}

.header,
.game {
  width: var(--game-width);
  flex: none;
}

.play,
.sidebar {
  flex-grow: 1;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -30;
    background: var(--sidebar-color);
  }
}

.play {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playTitle {
  font-size: 16px;
  margin-bottom: 14px;
  font-weight: 600;
}

.playButton {
  --button-font-size: 16px;

  width: 100%;
  padding: 1.2em 2em 1.3em 2.6em;
}

.game {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  background-color: var(--game-color);
}

.canvas {
  width: 100%;
  height: var(--game-height);
  display: block;
  outline: none;
}

.grid {
  --grid-line-color: #2c3250;
  --sub-line-color: #242943;
}
