/* --------------------------- */
/* Tetris */
/* --------------------------- */

.wrapper {
  // We need to set the initial height of the canvas
  // based on the block size. Since block size changes with
  // device width we need to do some really ugly CSS calculations
  --game-rows: 10;
  --game-cols: 10;
  --block-border-radius: 6.5px;
  --blocks-per-col: 2;
  --block-offset: 1.8px;
  --block-size: calc(var(--grid-col-width) / var(--blocks-per-col));
  --game-width: calc(var(--grid-col-width) * var(--game-cols));
  --game-height: calc(
    var(--block-size) * var(--game-rows) - var(--block-offset) - 1px
  );

  padding-bottom: 0;
}

.content {
  width: calc(100% + var(--grid-offset) * 2);
  margin-left: calc(var(--grid-offset) * -1);
  display: flex;
}

.game {
  width: var(--game-width);
  flex: none;
}

.sidebar {
  flex-grow: 1;
}

.canvas {
  margin-top: var(--block-offset);
  width: calc(100% - 1px);
  height: var(--game-height);
  display: block;
  outline: none;
}
