/* --------------------------- */
/* Buttons */
/* --------------------------- */

@use 'app';

.button {
  --squircle-radius: 6px;
  --squircle-smooth: 0.6;
  --border-radius: var(--squircle-radius);

  @include app.disable-native-button;

  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  background-color: var(--yellow-accent-color);
  font-weight: 600;
  color: var(--page-background-color);
  line-height: 1;
  font-size: var(--button-font-size, 15px);
  transition: background-color 0.2s;
  padding: 0.95em 2em 1.05em 2em;
  letter-spacing: -0.01em;
  font-feature-settings: 'salt';
  position: relative;
  user-select: none;
  text-decoration: none;
  border-radius: var(--border-radius);
  text-align: center;

  @include app.supports-css-paint {
    mask: paint(squircle);
  }

  &:hover {
    background-color: #ffe983;
  }

  &.noTransition {
    transition: none !important;
  }

  &.hasIcon {
    padding-left: 1em;
  }

  &[disabled] {
    background-color: #4a526d;
    color: #8990a7;
    transition: none;
    cursor: default;
  }
}

.secondary {
  background-color: #dfdfeb;

  &:hover {
    background-color: #fcfcff;
  }

  &[disabled] {
    background-color: #585e79;
  }
}

.text {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  @at-root .loading & {
    visibility: hidden;
  }
}

.icon {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  flex: none;
  position: relative;

  svg {
    width: 2.2em;
    height: 2.2em;
    position: absolute;
    inset: 50% 0 0 0;
    margin-top: 0.05em;
    transform: translateY(-50%);
    display: block;
  }
}

.spinnerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;

  @at-root .loading & {
    display: flex;
  }
}
