/* --------------------------- */
/* Buttons */
/* --------------------------- */

@use 'app';

.button {
  @include app.disable-native-button;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  background-color: var(--yellow-accent-color);
  font-weight: 600;
  color: var(--page-background-color);
  line-height: 1;
  font-size: 15px;
  transition: background-color 0.2s;
  padding: 0.95em 2em 1.05em 2em;
  letter-spacing: -0.01em;
  font-feature-settings: 'salt';
  border-radius: 6px;
  position: relative;

  &:hover {
    background-color: #ffe983;
  }

  &.noTransition {
    transition: none !important;
  }

  &[disabled] {
    background-color: #4a526d;
    color: #8990a7;
    transition: none;
    cursor: default;
  }
}

.text {
  display: inline-flex;
  align-items: center;

  @at-root .loading & {
    visibility: hidden;
  }
}

.spinnerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;

  @at-root .loading & {
    display: flex;
  }
}
