/* --------------------------- */
/* Headline */
/* --------------------------- */

@use 'app';

.headline {
  --font-size: 65px;
  --transition-duration: 0.3s;
  --skew: -3.5deg;

  font-weight: 600;
  font-size: var(--font-size);
  line-height: 1;
  transition: {
    duration: var(--transition-duration);
    property: transform, font-size;
    timing-function: ease;
  }
  position: relative;
  margin: 0;
  display: inline-block;
  font-feature-settings: normal;
  will-change: transform, font-size;

  em {
    font-style: normal;
    will-change: color;
  }

  &.empty {
    width: 0.6em;
    height: 1em;
  }

  &.selectEmphasis {
    em {
      background-color: var(--highlight-dark-color);
    }
  }

  &.bold {
    font-weight: 800;
  }

  &.alternateGlyphs {
    font-feature-settings: 'salt', 'calt';
  }

  &.grow {
    // --font-size: 77px;
    --font-size: 73px;
  }

  &.skew {
    transform-origin: top right;
    transform: skewY(var(--skew));
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.showColor {
    em {
      color: var(--yellow-accent-color);
      background-color: transparent;
    }
  }

  strong {
    position: relative;
    transition: color 0.3s;
    font-weight: inherit;
  }
}

.content {
  &:empty {
    font-weight: 800;
  }
}

.box {
  :global(.handle) {
    transition: transform var(--transition-duration);

    @at-root .skew & {
      transform: skewY(calc(var(--skew) * -1));
    }
  }
}
