/* --------------------------- */
/* Project Highlights */
/* --------------------------- */

.highlight {
  margin-top: 50px;
  position: relative;
  font-size: 16px;
  padding-left: 20px;

  &:first-child {
    margin-top: 0;
  }
}

.bullet {
  --bullet-size: 6px;

  width: var(--bullet-size);
  height: var(--bullet-size);
  border-radius: 50%;
  background-color: var(--page-background-dark-color);
  position: absolute;
  top: 12px;
  left: calc(var(--grid-offset) * -1 - var(--bullet-size) / 2);
  box-shadow: 0 0 0 2px currentColor,
    0 0 0 7px var(--page-background-dark-color);

  &:before {
    content: '';
    position: absolute;
    height: 2px;
    left: 100%;
    top: 50%;
    margin-top: -1px;
    width: 20px;
    background-color: currentColor;
    border-radius: 0 1px 1px 0;
  }
}
