/* --------------------------- */
/* Home Page */
/* --------------------------- */

/* --------------------------- */
/* Hero */

$bgColor: #fbf5ef;
$accentColor: #df6363;
$dotColor: #a54c4c;

:export {
  bgColor: $bgColor;
  dotColor: $dotColor;
}

.hero {
  display: flex;
  justify-content: center;

  &:before,
  &:after {
    content: '';
    background-color: $bgColor;
    flex-grow: 1;
    min-width: 40px;
  }
}

.content {
  height: 2000px;
  width: 100%;
  max-width: 1200px;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  z-index: 200;

  &:before,
  &:after {
    content: '';
    background-color: $bgColor;
    width: 100%;
    display: block;
  }

  &:before {
    height: 250px;
  }

  &:after {
    height: 800px;
  }

  h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 110px;
    color: #323a55;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    position: relative;
    z-index: 300;
    position: absolute;
    line-height: 1;
    top: 230px;
    left: -8px;
    white-space: nowrap;
  }
}

.clip {
  position: relative;
  width: 100%;

  text {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
  }

  svg {
    display: block;
  }
}

.fixedBgWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 1200px;
  left: 50%;
  margin-left: -600px;
  overflow: hidden;
  background-color: $accentColor;
  pointer-events: none;

  .fixedBg {
    position: absolute;
    width: calc(100% + 40px);
    height: 110vh;
    margin-left: -20px;
    margin-top: -20px;
    background-image: url('./images/dot.png');
    background-size: 10px 10px;
    background-repeat: repeat;
    animation: movingDots 1.5s linear infinite;
    will-change: transform;
  }

  svg {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;

    &:last-child {
      animation: movingDots 1.5s linear infinite;
      will-change: transform;
    }
  }
}

@keyframes movingDots {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-10px, -10px, 0);
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
}
