/* --------------------------- */
/* Home Page */
/* --------------------------- */

/* --------------------------- */
/* Hero */

.hero {
  // background-color: #2a3352;
}

.content {
  height: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 200px;
  color: red;
  position: relative;

  h1 {
    font-size: 120px;
    font-weight: 900;
    font-family: 'poppins';
    text-transform: uppercase;
    color: transparent;
    background-clip: text;
    background-image: url('./space.jpg');
    background-repeat: repeat;
    background-clip: text;
    background-attachment: fixed;
  }
}

.clip {
  position: relative;
  // height: 400px;
  width: 100%;

  svg {
    transform: translateZ(0);
    // width: 900px;
    // height: 500px;

    text {
      // width: 900px;
      // height: 500px;
      // fill: url('./space.jpg');
      // font-family: 'poppins';
      font-family: 'Poppins', sans-serif;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
}

.rect {
  // fill: red;
  // fill: url('./space.jpg');
}

.bgWrapper {
  position: absolute;
  height: 500px;
  width: 900px;
  top: 0;
  // bottom: 0;
  left: 0;
  // right: 0;
  z-index: 300;
  // background-color: yellow;
  // background-image: url('./space.jpg');
  // background-attachment: fixed;
  clip-path: url(#text-clip);
  -webkit-clip-path: url(#text-clip);
  pointer-events: none;
  transform: translateZ(0);
  // background-repeat: repeat;
  // animation: move 10s linear;
}

.bg {
  background-image: url('./space.jpg');
  background-attachment: fixed;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -500px;
  right: -500px;
  background-repeat: repeat;
  animation: move 10s linear infinite;
}

@keyframes move {
  0% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(-50px);
  }
}

.bgAnimation {
  animation: bgMove 10s linear infinite;
  will-change: background-position;
}

@keyframes bgMove {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: -100px 0;
  }
}

.rectAnimation {
  width: 200px;
  height: 500px;
  animation: rect 2.5s cubic-bezier(0.73, 0.01, 0.35, 1) infinite alternate;
  position: absolute;
  // will-change: height;
}

@keyframes rect {
  0% {
    height: 50px;
  }

  100% {
    height: 350px;
  }
}

.fixedBgWraooer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;

  .fixedBg {
    position: absolute;
    top: 0;
    left: -100px;
    bottom: 0;
    right: -100px;
    background-image: url('./space.jpg');
    background-repeat: repeat;
    animation: bgMove 10s linear infinite;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
}
