/* --------------------------- */
/* Code Viewer */
/* --------------------------- */

@use 'app';

.wrapper {
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  height: 100%;
  display: flex;
  margin-right: 2px;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.visible {
    pointer-events: auto;
    z-index: 10;
  }
}

$lineNumbersWidth: 45px;

.contentWrapper {
  padding: 20px 20px 20px 0;
  display: flex;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  order: 2;
  overflow: hidden;
}

.codeWrapper {
  $translate: 80px;
  width: 100%;
  padding-left: 15px;
  font-family: inherit;
  transform: translateX($translate);
  opacity: 0;
  transition: transform 0.4s cubic-bezier(0.21, 0.94, 0.14, 1), opacity 0.3s;

  @at-root {
    .wrapper:first-child & {
      transform: translateX(-$translate);
    }

    .wrapper.visible & {
      transform: translateX(0);
      opacity: 1;
      transition-delay: 0.02s;
    }
  }
}

.code {
  width: 100%;
  font-family: inherit;

  @keyframes blink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  :global(.caret) {
    content: '';
    display: none;
    line-height: 0;
    height: 18px;
    width: 1px;
    margin-right: -1px;
    vertical-align: middle;
    background: #797979;
    margin-top: -3px;
    animation: blink 0.75s step-end infinite;

    @at-root :global(.showCaret) & {
      display: inline-block;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

/* --------------------------- */
/* Selected Text */

:global(.selectText) {
  .wrapper :global(.select) {
    background-color: var(--highlight-dark-color);
    color: #fff;
  }
}

/* --------------------------- */
/* Line Numbers */

.lineNumbers {
  @include app.no-select;
  flex-grow: 0;
  flex-shrink: 0;
  pointer-events: none;
  padding-bottom: 10px;
  width: $lineNumbersWidth;
  font-weight: 500;
  order: 1;
}

.line {
  pointer-events: none;
  display: block;
  counter-increment: lineNumber;

  @at-root :global(.editor:not(.complete)) & {
    &.currentLine {
      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 10px;
        height: 1.4em;
        background: #262b3d;
        border-radius: 2px;
        z-index: -1;
        visibility: hidden;
      }
    }
  }

  @at-root :global(.editor:not(.complete):not(.paused)) .visible & {
    &.currentLine {
      &:before {
        visibility: visible;
      }
    }
  }
}

.num {
  color: #3c415c;
  display: block;
  padding-right: 0.7em;
  text-align: right;
  transition: opacity 0.2s;
  border-right: 1px solid #3c415c;
  opacity: 0;

  &:before {
    content: counter(lineNumber);
  }

  @at-root .line:first-child & {
    transition: none !important;
  }

  @at-root .line:last-child & {
    padding-bottom: 10px;
  }

  @at-root .visible & {
    opacity: 1;
  }

  @at-root :global(.editor:not(.complete):not(.paused))
      .visible
      .currentLine
      & {
    border-color: #5e637f;
    color: #676e95;
  }
}
