/* --------------------------- */
/* Hero Title  */
/* --------------------------- */

.wrapper,
.content,
.name,
.console {
  display: flex;
}

.wrapper {
  margin-bottom: 30px;
}

.photo {
  width: 58px;
  height: 58px;
  flex: none;
  background-color: #dedede;
  margin-right: 18px;
  clip-path: url(#squircle-clip);
}

.content {
  flex-direction: column;
  justify-content: space-between;
  padding: 1px 0 2px 0;
}

.name {
  align-items: center;
  line-height: 1;
  font-size: 17px;
  font-weight: 500;
  color: #fff;

  &:before {
    content: '';
    width: 10px;
    height: 10px;
    margin-right: 10px;
    flex: none;
    background-color: var(--green-accent-color);
    border-radius: 50%;
  }
}

.console {
  font-size: 13px;
  font-family: var(--font-code);
  color: #a7bedb;
  background-color: #272d44;
  align-items: center;
  border-radius: 4px;
  line-height: 1;
  overflow: hidden;
  padding: 0 10px;

  > span,
  .command,
  .message {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 7px;
  }
}

.dir {
  color: #6b7599;
  margin-right: 10px;
}

.textWrapper {
  position: relative;
  transition: transform 0.3s cubic-bezier(0.17, 0.67, 0.21, 1);

  &.showMessage {
    transform: translateY(-100%);
  }
}

.command {
  &:after {
    content: '';
    display: inline-block;
    width: 7px;
    margin-left: 1px;
    height: 0.98em;
    background-color: #4b526c;
    position: relative;
    vertical-align: middle;
    top: -1px;
    animation: blink 0.8s step-end infinite;

    @at-root .typing & {
      animation: none !important;
    }

    @keyframes blink {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}

.message {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  display: inline-flex !important;
  // align-items: center;
}

.spinner {
  margin-right: 8px;
  color: var(--green-accent-color);

  &:after {
    animation: load 1s linear infinite;
    display: block;
    content: '⠋';
    font-size: 1.35em;
    position: relative;
    top: -1px;

    @keyframes load {
      10% {
        content: '⠙';
      }
      20% {
        content: '⠹';
      }
      30% {
        content: '⠸';
      }
      40% {
        content: '⠼';
      }
      50% {
        content: '⠴';
      }
      60% {
        content: '⠦';
      }
      70% {
        content: '⠧';
      }
      80% {
        content: '⠇';
      }
      90% {
        content: '⠏';
      }
    }
  }
}

.emoji {
  font-size: 0.85em;
  position: relative;
  top: 2px;
}

.highlight {
  color: var(--green-accent-color);
  margin: 0 7px 0 6px;
  font-weight: 500;
}
