/* --------------------------- */
/* Hero Title */
/* --------------------------- */

.title {
  font-size: 17px;
  font-family: var(--font-code);
  font-weight: 400;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}
