/* --------------------------- */
/* Grid Lines */
/* --------------------------- */

@use 'app';

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100%;
  right: 0;
  overflow: hidden;
  z-index: -2;
  pointer-events: none;
  display: flex;
  justify-content: center;
}

.linesWrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.grid {
  display: flex;
  width: calc(100% + #{app.$gridOffset * 2});
  margin-left: -#{app.$gridOffset};
  flex: none;
}

.line {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;

  svg {
    width: 1px;
    height: 100%;
  }

  .solid {
    margin-right: auto;
  }
}

.divider {
  position: relative;
  height: 2.5px;
  width: 100%;
  pointer-events: none;
}

.barWrapper {
  position: absolute;
  inset: 0 auto 0 0;
  width: calc(min(var(--content-width), 100vw) - var(--content-padding) * 2);
}

.barSpacer {
  position: absolute;
  inset: 0 -#{app.$gridOffset};
}

.bar {
  --circle-size: 8px;

  position: absolute;
  color: var(--grid-line-color);
  display: block;
  inset: 0;
  padding: 0 7px;
  height: 2px;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: currentColor;
  }

  @include app.retina {
    --circle-size: 7px;

    height: 2.5px;
  }
}

.circle {
  position: absolute;
  width: var(--circle-size);
  height: var(--circle-size);
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--grid-line-color);

  &:first-child {
    left: 0;

    @include app.retina {
      margin-left: 0.5px;
    }
  }

  &:last-child {
    left: 100%;

    @include app.retina {
      margin-left: -0.5px;
    }
  }
}

:export {
  gridNumColumns: app.$gridNumColumns;
}
