/* --------------------------- */
/* Logo Animation */
/* --------------------------- */

.wrapper {
  width: calc(50% + 20px);
  margin-right: -20px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  position: relative;
  pointer-events: none;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 3px;
    right: 3px;
    z-index: 3;
    height: 320px;
    opacity: 0.8;
    background: linear-gradient(
      173deg,
      #161929 0%,
      rgba(22, 25, 41, 0.991353) 4.39%,
      rgba(22, 25, 41, 0.96449) 8.79%,
      rgba(22, 25, 41, 0.91834) 13.18%,
      rgba(22, 25, 41, 0.852589) 17.58%,
      rgba(22, 25, 41, 0.768225) 21.97%,
      rgba(22, 25, 41, 0.668116) 26.36%,
      rgba(22, 25, 41, 0.557309) 30.76%,
      rgba(22, 25, 41, 0.442691) 35.15%,
      rgba(22, 25, 41, 0.331884) 39.55%,
      rgba(22, 25, 41, 0.231775) 43.94%,
      rgba(22, 25, 41, 0.147411) 48.33%,
      rgba(22, 25, 41, 0.0816599) 52.73%,
      rgba(22, 25, 41, 0.03551) 57.12%,
      rgba(22, 25, 41, 0.0086472) 61.52%,
      rgba(22, 25, 41, 0) 65.91%
    );
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 40px;
    transform: rotate(180deg);
  }
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.column,
.logo {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
}

.columnWrapper {
  margin-right: 25px;
  position: relative;
  height: 100%;

  &:last-child {
    margin-right: 0;
  }
}

.column,
.logo {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
}

$baseLogoSize: 140px;
$baseLogoOffset: 20px;

@mixin position-logos($size, $offset) {
  @at-root {
    .column {
      width: $size;
    }

    .logo {
      width: $size;
      height: $size;
      margin-top: -$size - $offset;
      margin-bottom: $offset;
    }

    .blur {
      width: $size;
      height: $size;
    }
  }
}

@include position-logos($baseLogoSize, $baseLogoOffset);

.column {
  height: 100%;
  position: relative;
  opacity: 0;
  will-change: transform;

  &.visible {
    opacity: 1;
  }
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform, filter;

  &:last-child {
    margin-bottom: 0;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.blur {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}

@media (width < 1146px) {
  @include position-logos(100px, 15px);
}

:export {
  logoSize: $baseLogoSize;
  logoOffset: $baseLogoOffset;
}
