/* --------------------------- */
/* Logo Animation */
/* --------------------------- */

.wrapper {
  width: calc(50% + 20px);
  margin-right: -20px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  position: relative;
  pointer-events: none;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

$logoSize: 150px;
$logoOffset: 30px;

.column,
.logo {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
}

.columnWrapper {
  margin-right: $logoOffset;
  position: relative;
  height: 100%;

  &:last-child {
    margin-right: 0;
  }
}

.column {
  height: 100%;
  position: relative;
  width: $logoSize;
  opacity: 0;
  will-change: transform;

  &.visible {
    opacity: 1;
  }
}

.logo {
  width: $logoSize;
  height: $logoSize;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -$logoSize - $logoOffset;
  will-change: transform, filter;

  &:nth-child(even) {
    background: green;
  }
}

.blur {
  width: $logoSize;
  height: $logoSize;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}

:export {
  logoSize: $logoSize;
  logoOffset: $logoOffset;
}
