/* --------------------------- */
/* Background Accents */
/* --------------------------- */

.wrapper {
  position: relative;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;

  &.hidden {
    visibility: hidden;
  }

  svg {
    position: absolute;
  }
}

.accent {
  width: 825px;
  height: 235px;
  z-index: -1;
  top: -50px;
  left: -110px;

  @at-root .right & {
    top: auto;
    left: auto;
    transform: rotate(180deg);
    right: -310px;
    bottom: -27px;
  }
}

.back,
.front {
  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
}
