/* --------------------------- */
/* Article Data  */
/* --------------------------- */

@use 'sass:selector';
@use 'app';

.wrapper {
  position: relative;
  will-change: height;
  contain: content;
  text-wrap: pretty;

  &:focus-within {
    contain: none;
  }

  p {
    font-size: 14px;

    @include app.retina {
      font-size: 14.5px;
    }
  }
}

.contentWrapper {
  position: relative;

  @at-root .wrapper:not(.hasArticle) & {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
  }
}

.data {
  opacity: 0;
}

.clone {
  pointer-events: none;
  opacity: 0;
}

.content {
  padding-top: 40px;

  &.entering {
    position: absolute;
    inset: 0 0 auto;
    opacity: 0;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  @at-root .clone & {
    position: absolute;
    inset: 0 0 auto;
  }
}

.metadata {
  display: inline-flex;
  margin-bottom: 25px;
  text-decoration: none;
  color: inherit;
  max-width: 100%;

  &:hover {
    h3 {
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-thickness: 0.075em;
      text-decoration-color: rgba(#fff, 0.47);
    }
  }
}

.faviconWrapper {
  width: 38px;
  height: 38px;
  margin-right: 16px;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 3px;
  position: relative;
  clip-path: url(#squircle-clip);

  &.default {
    background-color: #fff;
  }

  &.loading {
    color: #676a87;
    background-color: #3c4158 !important;
  }

  &.dark {
    background-color: #fff;
    padding: 2px;
  }
}

.defaultFavicon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;

  @at-root .default:not(.loading) & {
    display: flex;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.favicon {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;

  @at-root .faviconError & {
    visibility: hidden;
  }

  img,
  svg {
    width: 100%;
    height: auto;
    display: block;

    @at-root .dark & {
      clip-path: url(#squircle-clip);
    }
  }
}

.text {
  flex-grow: 1;
  font-size: 13px;
  overflow: hidden;

  h3,
  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }

  h3 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0.22em;
    -webkit-line-clamp: 2;
    line-height: 1.3;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    -webkit-line-clamp: 1;
    overflow-wrap: break-word;
  }
}

.organization {
  display: block;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 0.6em;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  color: var(--yellow-accent-color);
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-size: 15px;

  @include app.retina {
    font-size: 14.5px;
  }

  th,
  td {
    border-bottom: 2px solid #32374e;
    padding: 17px 22px 17px 18px;
    text-align: left;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  tr {
    &:first-child {
      th,
      td {
        border-top: none;
        padding-top: 8px;
      }
    }

    &:last-child {
      th,
      td {
        border-bottom: none;
        padding-bottom: 8px;
      }
    }
  }

  th {
    white-space: nowrap;
    font-weight: 400;
    border-right: 2px solid #32374e;
  }

  td {
    width: 100%;
    color: #fff;
    font-weight: 500;
  }
}

.detail {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.detailIcon {
  width: 17px;
  height: 1em;
  position: relative;
  margin-right: 13px;
  flex: none;

  svg {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: -1px;
  }

  path,
  circle {
    fill: #575d75;
  }
}

.codeWrapper {
  $bgColor: #1c1e2f;
  width: 100%;
  margin-top: 35px;
  padding: 16px 22px;
  background-color: $bgColor;
  border-radius: 5px;
  font-size: 14px;
  overflow: auto;
  max-height: 140px;

  &::-webkit-scrollbar {
    @at-root {
      .clone &,
      .animating & {
        display: none;
      }
    }
  }
}

.code {
  width: 100%;
  font-family: var(--font-code);

  &:not(:has(> *)) {
    color: #c3e88d;
  }
}

.placeholder {
  text-align: center;
  padding: 40px 0 5px 0;

  @at-root .hasArticle & {
    display: none;
  }

  p {
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  :global(.button) {
    margin-top: 15px;
  }
}
