/* --------------------------- */
/* Reddit Publish Date */
/* --------------------------- */

@use 'app';

.wrapper {
  &:before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background-color: var(--page-background-dark-color);
    z-index: -3;
  }
}

.top {
  @media (width > app.bp(md)) {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    max-width: 710px;
  }
}

.logo {
  display: inline-block;
  width: 240px;
  height: auto;
  margin-bottom: 5px;
}

.contentWrapper {
  display: flex;
}

.content {
  flex-grow: 1;
  margin-right: var(--grid-col-width);
  padding-right: 30px;
}

.widget {
  --offsetX: var(--grid-offset, 20px);

  width: app.grid-cols(6, calc(var(--offsetX) * -1));
  margin-right: calc(var(--offsetX) / -2);
  flex: none;
}

.divider {
  margin: 35px 0;
}
