/* --------------------------- */
/* Reddit Publish Date */
/* --------------------------- */

.wrapper {
  &:before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background-color: var(--page-background-dark-color);
    z-index: -3;
  }
}

.logo {
  display: inline-block;
  width: 240px;
  height: auto;
  margin-bottom: 5px;
}

.contentWrapper {
  display: flex;
}

.col {
  flex-grow: 1;
  width: 50%;

  &:nth-child(even) {
    padding-left: 40px;
  }

  &:nth-child(odd) {
    padding-right: 20px;
  }
}

.content {
  p {
    max-width: 530px;
  }
}

.divider {
  margin: 35px 0;
}
