/* --------------------------- */
/* Headline */
/* --------------------------- */

@import '@styles/colors';

.headline {
  font-weight: 800;
  font-size: 54px;
  text-transform: uppercase;
  line-height: 1;
  transform-origin: top right;
  transform: skewY(-3.5deg);

  &.showColor {
    span {
      color: var(--accent);
    }
  }
}
