/* --------------------------- */
/* Layout */
/* --------------------------- */

/* --------------------------- */
/* Fonts */

@import url('https://use.typekit.net/gse1fwz.css');
@import url('https://use.typekit.net/gse1fwz.css');

/* --------------------------- */
/* Imports */

@import '@styles/variables';
@import '@styles/colors';

/* --------------------------- */
/* General Styles */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: var(--font);
  font-display: swap;
  background-color: var(--bg);
  color: #fff;
  font-size: 18px;
}

::selection {
  background: var(--highlight);
}

::-moz-selection {
  background: var(--highlight);
}
