/* --------------------------- */
/* Tetris */
/* --------------------------- */

.wrapper {
  width: calc(100% + var(--grid-offset) * 2);
  margin-left: calc(var(--grid-offset) * -1);
  // width: calc((100% + var(--grid-offset) * 2) / 2);
  // width: calc(50% );
  // margin: 0 auto;
  // opacity: 0.1;
  // left: calc(var(--grid-offset) * -1);
  // background: blue;
  // position: relative;

  margin-top: 60px;
  overflow: hidden;
}

.canvas {
  --grid-num-rows: 10;
  // --column-multiplier: 2;
  --grid-num-columns: 24;
  width: 100%;
  display: block;
  height: calc(100% / var(--grid-num-columns) * var(--grid-num-rows));
  // height: calc(
  //   (100% / (var(--grid-num-columns, 12) * var(--column-multiplier, 1))) *
  //     var(--grid-num-rows)
  // );
  // background: red;
  // opacity: 0.5;
  // width: auto;
}
