/* --------------------------- */
/* Line */
/* --------------------------- */

:where(.vertical) {
  width: var(--stroke-width, 1px);
  height: 100%;
}

:where(.horizontal) {
  width: 100%;
  height: var(--stroke-width, 1px);
}
