/* --------------------------- */
/* Headings */
/* --------------------------- */

.center {
  text-align: center;
}

.eyebrow {
  color: var(--green-accent-color);
  display: block;
  font-size: max(0.5em, 18px);
  font-weight: 400;
  margin-bottom: 1.1em;
  line-height: 1;

  :global(.sr) {
    position: relative;
    display: inline-block;
  }
}
