/* --------------------------- */
/* Code Viewer */
/* --------------------------- */

@import '@styles/colors';
@import '@styles/mixins';

.wrapper {
  $translate: 80px;
  overflow: hidden;
  font-size: 15px;
  line-height: 1.3;
  color: #000;
  height: 100%;
  margin-right: 2px;
  opacity: 0;
  pointer-events: none;
  transform: translateX($translate);
  transition: all 0.3s cubic-bezier(0.21, 0.94, 0.14, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.visible {
    opacity: 1;
    transform: translateX(0) !important;
    pointer-events: auto;
    overflow-y: auto;
  }

  &:first-child {
    transform: translateX(-$translate);
  }
}

$lineNumbersWidth: 45px;

.code {
  padding: 20px 20px 20px 0;
  display: flex;
  align-items: flex-start;

  code {
    order: 2;
    margin-left: -$lineNumbersWidth;
    padding-left: $lineNumbersWidth;
    width: 100%;

    @keyframes blink {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    :global(.caret) {
      content: '';
      display: none;
      line-height: 0;
      height: 18px;
      width: 1px;
      vertical-align: middle;
      background: #797979;
      margin-top: -3px;
      animation: blink 0.75s step-end infinite;

      @at-root .visible & {
        display: inline-block;
      }

      @at-root :global(.stopped:not(.showCaret)) & {
        visibility: hidden;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

/* --------------------------- */
/* Selected Text */

:global(.selectText .select) {
  background-color: var(--highlight-light);
}

/* --------------------------- */
/* Line Numbers */

.lineNumbers {
  @include noSelect;
  flex-grow: 0;
  flex-shrink: 0;
  pointer-events: none;
  margin-right: 15px;
  padding-bottom: 10px;
  width: $lineNumbersWidth;
  border-right: 1px solid #d9dee4;
  font-weight: 500;
  order: 1;

  > span {
    pointer-events: none;
    display: block;
    counter-increment: lineNumber;

    &:before {
      content: counter(lineNumber);
      color: #8792a0;
      display: block;
      padding-right: 0.7em;
      text-align: right;
    }
  }
}

/* --------------------------- */
/* Syntax Highlighting */

:global {
  /* --------------------------- */
  /* HTML */

  .language-html {
    color: #002339;

    .punctuation {
      color: #3e3e3e;
    }

    .tag {
      color: #0444ac;
    }
  }

  /* --------------------------- */
  /* SCSS */

  .language-scss {
    color: #174781;

    .selector {
      color: #0444ac;
    }

    .property {
      color: #dc3eb7;
    }

    .punctuation {
      color: #002339;
    }
  }
}
