/* --------------------------- */
/* Colors */
/* --------------------------- */

:root {
  --bg: #1f2732;
  --bg-dark: #18212b;
  --light-grey: #9ab5d2;
  --accent: #33edc0;
  --highlight: rgba(26, 197, 249, 0.75);
}
