/* --------------------------- */
/* Content */
/* --------------------------- */

.wrapper {
  width: 100%;
  max-width: var(--content-width);
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
  margin-left: auto;
  margin-right: auto;

  :global(.grid-lines-wrapper) {
    padding-left: var(--grid-offset);
    padding-right: var(--grid-offset);
  }
}
